<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-U-Compatible" content="ie=edge">
    <style>
        div.container{
            width: 100%;
            height: auto;
        }
        div{
            width: 40%;height: 40%;
        }
        .esquerda{
            float: left;
        }
        .direita{
            float: right;
        }
        .button{
            padding: 3px 155px;
        }
        body{
            background-color: #F5F5F5;
        }
    </style>
    <title>Comentários</title>
</head>
<body>
    {{{body}}}
</body>
</html>